<%= content_for :head do -%>
  <link href="<%= collection_url(@collection.origin, :format => :ttl, :lang => nil) %>" type="text/turtle" rel="alternate" title=""/>
  <link href="<%= collection_url(@collection.origin, :format => :rdf, :lang => nil) %>" type="application/rdf+xml" rel="alternate" title=""/>
<% end -%>

<h2><%= @collection.class.model_name.human %>: <%= link_to(@collection.origin, collection_url(:id => @collection)) %></h2>
<div id="abstract_uri">
  <%= collection_url(@collection.origin, :format => nil, :lang => nil) %>
  (<%= link_to "Turtle", collection_url(@collection.origin, :format => :ttl, :lang => nil) %>, <%= link_to "RDF/XML", collection_url(@collection.origin, :format => :rdf, :lang => nil) %>)
</div>

<% if can?(:manage, @collection) %>
<div class="editing_versioning_toolbar">
  <%= link_to t('txt.common.edit'), edit_collection_path(:id => @collection) %>
  <%= button_to I18n.t('txt.common.delete'), collection_path(:id => @collection), :method => :delete, :confirm => t('txt.views.users.sure', :default => 'Sure?') %>
</div>
<% end %>

<h3><%= t("txt.common.pref_label") %>: <%= @collection.pref_label.to_s %></h3>

<%-
# alternative labels
# XXX: use of sections partial inconsistent with the rest of the template structure
-%>
<%= render 'layouts/sections', :sections => ["labels"], :data => concept_view_data(@collection) %>

<div class="relation">
  <h3><%= Note::SKOS::Definition.model_name.human(:count => 2) %></h3>
  <ul>
    <% @collection.note_skos_definitions.each do |definition| %>
      <li><%= definition.value %> (<%= definition.language %>)</li>
    <% end %>
  </ul>
</div>

<div class="relation">
  <h3><%= Iqvoc::Concept.base_class.model_name.human(:count => 2) %></h3>
  <div class="relation-body">
    <ul>
      <%- @collection.concepts.sort {|a, b| a.pref_label <=> b.pref_label }.each do |concept| -%>
        <%- if concept.published? || (!concept.published_version_id && can?(:update, concept)) -%>
          <li><%= render concept.class.inline_partial_name, :concept => concept %></li>
        <%- end -%>
      <%- end -%>
    </ul>
  </div>
</div>

<div class="relation">
  <h3><%= Collection::Base.model_name.human(:count => 2) %></h3>
  <ul class="hybrid-treeview" data-url="<%= hierarchical_collections_path(:format => :json) %>">
    <%= render :partial => 'collection', :collection => @collection.subcollections.sort {|a, b| a.pref_label <=> b.pref_label } %>
  </ul>
</div>
