<%= render 'header', :collection => @collection %>
<%= render 'sidebar', :collection => @collection %>

<%= alert :info, :header => t('txt.common.unpublished_version') + "." do %>
  <%= t("txt.views.versioning.current_revision", :rev => @collection.rev) %>
  <% if @collection.locked? %>
    <%= t("txt.views.versioning.in_ongoing_editing_by", :user => @collection.locking_user.name) %>
  <% end %>
<% end %>

<div class="editing_versioning_toolbar well">
  <% if can?(:merge, @collection) %>
    <%= button_to t("txt.views.versioning.publishing"),
      collection_versions_merge_path(:origin => @collection.origin), :class => 'btn btn-primary' %>
  <% end %>

  <% if can?(:check_consistency, @collection) %>
    <%= button_to t("txt.views.versioning.consistency_check"),
      collection_versions_consistency_check_path(:origin => @collection.origin), :class => 'btn btn-default', :method => :get %>
  <% end %>

  <% if can?(:send_to_review, @collection) %>
    <%= button_to t("txt.common.to_review"),
      collection_versions_to_review_path(:origin => @collection.origin), :class => 'btn btn-default' %>
  <% end %>

  <% if @collection.locked? %>
    <%= button_to t("txt.views.versioning.unlock"),
      collection_versions_unlock_path(:origin => @collection.origin), :class => 'btn btn-default' if can?(:unlock, @collection) %>
    <%= link_to t("txt.views.versioning.edit_mode"),
      edit_collection_path(:published => 0, :id => @collection.origin),
        :class => 'btn btn-default' if can?(:update, @collection) %>
    <% else %>
      <%= button_to t("txt.views.versioning.to_edit_mode"),
        collection_versions_lock_path(:origin => @collection.origin), :class => 'btn btn-default' if can?(:lock, @collection) %>
  <% end %>

  <% if can?(:destroy, @collection) %>
    <% button_text = @collection.never_published? ? t("txt.views.versioning.delete") : t("txt.views.versioning.delete_copy") %>
    <%= button_to button_text,
        collection_path(:published => 0, :id => @collection.origin),
        :method => :delete,
        :class => 'btn btn-danger',
        :data => { :confirm => I18n.t("txt.views.versioning.delete_confirm") } if can?(:destroy, @collection) %>
  <% end %>
</div>

<%= render 'data', :collection => @collection %>
