<%= render 'header', :collection => @collection %>
<%= render 'sidebar', :collection => @collection %>

<% if can?(:manage, @collection) %>
  <div class="editing_versioning_toolbar well">
    <%= link_to t('txt.common.edit'), edit_collection_path(:id => @collection), :class => 'btn' %>
    <%= button_to I18n.t('txt.common.delete'), collection_path(:id => @collection),
      :method => :delete,
      :data => { :confirm => t('txt.views.users.sure', :default => 'Sure?') },
      :class => 'btn btn-danger' %>
  </div>
<% end %>

<%-
# TODO: We'll need a 'collection_view_data' helper (containing the following
# "Note" stuff too).
-%>
<%#= render 'layouts/sections', :sections => ["labels"], :data => concept_view_data(@collection) %>

<% Iqvoc::Concept.labeling_classes.each do |labeling_class, languages| %>
  <% (languages || Iqvoc.available_languages).each do |lang| %>
    <%= render labeling_class.partial_name(@collection), :klass => labeling_class, :concept => @collection, :lang => lang %>
  <% end %>
<% end %>

<div class="relation panel">
  <h2><%= Note::SKOS::Definition.model_name.human(:count => 2) %></h2>
  <ul>
    <% @collection.note_skos_definitions.each do |definition| %>
      <li><%= definition.value %> (<%= definition.language %>)</li>
    <% end %>
  </ul>
</div>

<div class="relation panel">
  <h2><%= Iqvoc::Concept.base_class.model_name.human(:count => 2) %></h2>
  <div class="relation-body">
    <ul>
      <%- @collection.concepts.sort {|a, b| a.pref_label.to_s <=> b.pref_label.to_s }.each do |concept| -%>
        <%- if concept.published? || (!concept.published_version_id && can?(:update, concept)) -%>
          <li><%= render concept.class.inline_partial_name, :concept => concept %></li>
        <%- end -%>
      <%- end -%>
    </ul>
  </div>
</div>

<div class="relation panel">
  <h3><%= Iqvoc::Collection.base_class.model_name.human(:count => 2) %></h3>
  <ul class="hybrid-treeview" data-url="<%= collections_path(:format => :json) %>">
    <%= render :partial => 'collection', :collection => @collection.subcollections.sort {|a, b| a.pref_label <=> b.pref_label } %>
  </ul>
</div>
