<%= content_for :head do -%>
  <link href="<%= collection_url(@collection.origin, :format => :ttl, :lang => nil) %>" type="text/turtle" rel="alternate" title=""/>
  <link href="<%= collection_url(@collection.origin, :format => :rdf, :lang => nil) %>" type="application/rdf+xml" rel="alternate" title=""/>
<% end -%>

<h2><%= @collection.class.model_name.human %>: <%= link_to(@collection.origin, collection_url(:lang => I18n.locale, :id => @collection)) %></h2>
<div id="format_link_ttl">
  <%= collection_url(@collection.origin, :format => nil, :lang => nil) %>
  (<%= link_to "Turtle", collection_url(@collection.origin, :format => :ttl, :lang => nil) %>, <%= link_to "RDF/XML", collection_url(@collection.origin, :format => :rdf, :lang => nil) %>)
</div>

<div class="editing_versioning_toolbar">
  <%= link_to t('txt.common.edit'), edit_collection_path(:lang => I18n.locale, :id => @collection) %>
  <%= button_to I18n.t('txt.common.delete'), collection_path(:lang => I18n.locale, :id => @collection), :method => :delete, :confirm => t('txt.views.users.sure', :default => 'Sure?') %>
</div>

<div class="relation">
  <h3><%= Note::Iqvoc::LanguageNote.model_name.human(:count => 2) %></h3>
  <ul>
    <% @collection.note_iqvoc_language_notes.each do |language_note| %>
      <li><%= language_note.value %> (<%= language_note.language %>)</li>
    <% end %>
  </ul>
</div>

<div class="relation">
  <h3><%= Note::SKOS::Definition.model_name.human(:count => 2) %></h3>
  <ul>
    <% @collection.note_skos_definitions.each do |definition| %>
      <li><%= definition.value %> (<%= definition.language %>)</li>
    <% end %>
  </ul>
</div>

<div class="relation">
  <h3><%= Iqvoc::Concept.base_class.model_name.human(:count => 2) %></h3>
  <div class="relation-body">
    <%= raw @collection.members.map{|c| link_to(c.concept.pref_label, concept_path(:id => c.concept, :lang => I18n.locale)) }.join(', ') %>
  </div>
</div>

