<%
  subtitle = t('txt.views.navigation.expired')
  if can?(:update, Iqvoc::Concept.base_class)
    subtitle += " (#{number_with_delimiter(Iqvoc::Concept.base_class.expired.size)})"
  end
%>
<%= page_header :title => Iqvoc::Concept.base_class.model_name.human(:count => 2), desc: subtitle %>
<%= render 'concepts/sidebars/plural' %>

<div class="panel">
  <div class="panel-header centered">
    <%= letter_selector(@letters) do |letter| %>
      <% expired_concepts_path(:prefix => letter.to_s.downcase) %>
    <% end %>
  </div>
  <ol class="concept-items list-unstyled">
    <% @search_results.each do |result| %>
      <%= render :partial => result.partial_name, :locals => { :result => result } %>
    <% end %>
  </ol>
</div>

<%= paginate @search_results %>
