<%= page_header :title => Iqvoc::Concept.base_class.model_name.human(:count => 2), :desc => t('txt.views.navigation.expired') %>
<%= render 'concepts/sidebars/plural' %>

<div class="panel">
  <div class="panel-header centered">
    <%= letter_selector(@letters) do |letter| %>
        <% expired_concepts_path(:prefix => letter.to_s.downcase) %>
    <% end %>
  </div>
  <ol class="concepts list-unstyled">
    <% @search_results.each do |result| %>
    <%= render :partial => 'concepts/alphabetical/search_result',
        :locals => { :result => result } %>
    <% end %>
  </ol>
</div>

<%= paginate @search_results %>
