<%= content_tag :div, :class => "translation", :lang => (defined?(concept) ? lang || nil : nil) do %>
  <% if defined?(concept) %>
    <strong><%= klass.model_name.human(:count => 2) %> (<%= lang || "-" %>):</strong>
    <%= concept.labels_for_labeling_class_and_language(klass, lang).select{|label| label.value}.join(', ') %>
  <% elsif defined?(label) %>
    <strong><%= klass.model_name.human(:count => 2) %> <%= t("txt.common.of") %></strong>
    <div>
      <%= item_listing(label.concepts_for_labeling_class(klass)) do |c|
        link_to(c.origin, concept_path(:id => c), :alt => c.pref_label)
      end %>
    </div>
  <% end %>
<% end %>
