<%= content_tag :div, :class => "translation", :lang => (defined?(concept) ? lang || nil : nil) do %>
  <% if defined?(concept) %>
		<% count = (klass == Labeling::SKOS::PrefLabel) ? 1 : 2  %>
    <h4 class='inline concept_label'><%= klass.model_name.human(:count => count) %> (<%= lang || "-" %>):</h4>
		<% if concept.labels_for_labeling_class_and_language(klass, lang).any? %>
		<span><%= concept.labels_for_labeling_class_and_language(klass, lang).select{|label| label.value}.join(', ') %></span>
		<% else %>
		<span class='empty'><%= t('txt.common.value.empty')%></span>
		<% end %>
  <% elsif defined?(label) %>
    <h4 class='inline concept_label'><%= klass.model_name.human(:count => 2) %> <%= t("txt.common.of") %></h4>
    <div>
			<% if label.concepts_for_labeling_class(klass).any? %>
      <%= item_listing(label.concepts_for_labeling_class(klass)) do |c|
        link_to(c.origin, concept_path(:id => c), :alt => c.pref_label)
      end %>
			<% else %>
			<span class='empty'><%= t('txt.common.value.empty')%></span>
			<% end %>
    </div>
  <% end %>
<% end %>
