<%= content_tag :div, :class => "relation translation panel", :lang => (defined?(concept) ? lang || nil : nil) do %>
  <% if defined?(concept) %>
    <h2><%= klass.model_name.human(:count => 2) %> <small><%= t("languages.#{lang || "-"}") %></small></h2>
    <div class="relation-body">
      <%-
        items = concept.labels_for_labeling_class_and_language(klass, lang)
        items = items.select { |item| can?(:read, item) }
      -%>
    <%= item_listing(items) do |label|
        label.value
      end %>
    </div>
  <% elsif defined?(label) %>
    <h2><%= klass.model_name.human(:count => 2) %> <%= t("txt.common.of") %></h2>
    <div class="relation">
      <%-
        items = label.concepts_for_labeling_class(klass)
        items = items.select { |item| can?(:read, item) }
      -%>
      <%= item_listing(items) do |c|
        link_to(c.origin, concept_path(:id => c), :alt => c.pref_label)
      end %>
    </div>
  <% end %>
<% end %>
