<%= content_tag :div, { :class => "translation", :lang => language || nil }, true do %>
    <%- fieldname = "concept[labelings_by_text][#{klass.name.to_relation_name}][#{language}]" -%>
    <%- label = klass.model_name.human(:count => 2) -%>

    <%= f.label label %>
    <%= f.input fieldname, :wrapper => :prepend, :label => false do %>
      <span class="add-on"><%= language %></span><%= text_field_tag fieldname,
          concept.labelings_by_text(klass.name.to_relation_name, language),
          :class => 'span4' %>
    <% end %>
<% end %>
