<h2>Dashboard</h2>
<ul id="dashboard_controls">
  <%- Iqvoc.first_level_classes.each { |klass| %>
    <%= content_tag :li, render(klass.new_link_partial_name) %>
  <%- } -%>

  <%- if can?(:full_export, Concept::Base) -%>
    <li>
      <%= t('txt.views.dashboard.full_rdf_export') %>:
      <%= link_to("Turtle", concepts_url(:format => :ttl)) %>,
      <%= link_to("RDF/XML", concepts_url(:format => :rdf)) %>
    </li>
  <%- end -%>
  <%- if can?(:import, Concept::Base) -%>
    <li><%= link_to(t('txt.views.dashboard.import') , import_url) %></li>
  <%- end -%>
<%#= link_to "Triple Store Sync", new_triple_store_sync_path %>
</ul>
<table>
  <tr>
    <th><%= t("txt.views.dashboard.type") %><%= sorting_arrows_for(:class) %></th>
    <th><%= t("txt.views.dashboard.value") %><%= sorting_arrows_for(:value) %></th>
    <th><%= t("txt.views.dashboard.locking_user") %><%= sorting_arrows_for(:locking_user) %></th>
    <th><%= t("txt.views.dashboard.follow_up") %><%= sorting_arrows_for(:follow_up) %></th>
    <th><%= t("txt.views.dashboard.updated_at") %><%= sorting_arrows_for(:updated_at) %></th>
    <th><%= t("txt.views.dashboard.state") %><%= sorting_arrows_for(:state) %></th>
    <%- if params[:check_consistency] == "1" -%>
      <th><%= t("txt.views.dashboard.consistent") %>?</th>
    <%- else -%>
      <th><%= link_to t("txt.views.dashboard.check_consistency"), dashboard_url(request.query_parameters.merge(:check_consistency => 1)) %></th>
    <%- end -%>
  </tr>
  <% @items.each do |item| -%>
    <tr class="highlightable" data-url="<%= link_to_dashboard_item(item) %>">
      <td><%= item.class.model_name.human %></td>
      <td>
        <%= render item.class.edit_link_partial_name, :item => item %>
      </td>
      <td><%= item.locking_user.blank? ? "" : item.locking_user.name %></td>
      <td><%= l(item.follow_up) if item.follow_up.present? %></td>
      <td><%= l(item.updated_at, :format => :short) %></td>
      <td><%= item.state %></td>
      <%- if params[:check_consistency] == "1" -%>
        <td><%= consistency_status(item) %></td>
      <%- end -%>
    </tr>
  <% end -%>
</table>

<%= paginate @items %>
