<%= page_header :title => 'Dashboard' %>

<ul class="nav nav-tabs">
  <% Iqvoc.first_level_classes.each_with_index do |klass, index| %>
    <li <%= "class=active" if index == active.to_i %>><%= link_to klass.model_name.human(count: 2), send(klass.dashboard_path) %></a></li>
  <% end %>
</ul>

<%= render partial: 'table' %>

<%= render 'dashboard/sidebar' %>
