<h1>New Note</h1>

<%= error_messages_for @note %>
<% form_for(@note) do |f| %>
  <p>
    <label for="note_value">Value</label><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <label for="note_language">Language</label><br />
    <%= f.language_select :language %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', notes_path %>
