<div class="relation-body">
  <fieldset>
    <legend><%= t("txt.partials.label.relation.#{klass.name.to_relation_name}") %></legend>
    <input type="text" name="<%= klass.name.to_relation_name %>"
           class="label_relation"
           data-present-relations="[<%= klass.by_domain(label.id).range_editor_selectable.map{|r| "{'name': '#{r.range.value}', 'origin': '#{r.range.origin}', 'published': #{r.range.published?}}"}.join(',') %>]"
           data-post-url="<%= label_relations_path(:lang => @active_language, :label_id => label.origin, :relation_class => klass.name) %>"
           data-delete-url="<%= label_relation_path(:lang => @active_language, :id => "ORIGIN", :label_id => label.origin, :relation_class => klass.name) %>"
           data-get-url="<%= labels_path %>"
           data-branch-url="<%= label_versions_branch_path(:lang => @active_language, :origin => "ORIGIN") %>"
           data-show-url="<%= label_path(:lang => @active_language, :id => "ORIGIN")%>"
           data-versioned-show-url="<%= label_path(:published => 0, :lang => @active_language, :id => "ORIGIN") %>"
           data-auth-token="<%= form_authenticity_token %>"
           data-hint-text="<%= I18n.t("txt.views.widget.hint") %>"
           data-searching-text="<%= I18n.t("txt.views.widget.searching") %>"
           data-no-results-text="<%= I18n.t("txt.views.widget.no_results") %>"
           <% if klass.only_one_allowed? %>
             data-token-limit="1"
           <% end %>
           ></input>
           <%= link_to t("txt.views.labels.new"), new_label_path(:published => 0, :lang => @active_language), :target => "_blank", :id => "new_#{klass.name.to_relation_name}" %>
  </fieldset>
</div>
