<div class="form-group">
  <label class="col-sm-2 control-label">
    <%= t('txt.views.search_results.change_note.date') %>
  </label>

  <div class="col-sm-10">
    <div class="form-inline">
      <label for="change_note_type" class="sr-only"><%= t('txt.views.search_results.change_note.type') %></label>
      <%= select_tag :change_note_type, options_for_select([[t('txt.views.search_results.change_note.created'), :created], [t('txt.views.search_results.change_note.modified'), :modified]], params[:change_note_type]), :include_blank => true, class: 'form-control' %>

      <div class="input-group date datepicker">
        <label for="change_note_date_from" class="sr-only"><%= t('txt.views.search_results.change_note.date_from') %></label>
        <%= text_field_tag :change_note_date_from, params[:change_note_date_from], placeholder: 'z.B.: 2010-05-14', class: 'form-control', style: 'border-radius: 4px 0px 0px 4px;' %>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
        </div>
      </div>

      <div class="input-group date datepicker">
        <label for="change_note_date_from" class="sr-only"><%= t('txt.views.search_results.change_note.date_to') %></label>
        <%= text_field_tag :change_note_date_to, params[:change_note_date_to], placeholder: 'z.B.: 2010-05-14', class: 'form-control', style: 'border-radius: 4px 0px 0px 4px;' %>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
