<% if @datasets.any? %>
  <%= input_block :label => t('txt.views.search_results.datasets') do %>
    <% @datasets.each do |dataset| %>
      <label class="checkbox inline">
        <%= check_box_tag "ds[]", dataset.name, search_dataset_selected?(dataset.name) %><%= dataset.name %>
      </label>
    <% end %>
    <div class="btn-group">
      <button type="button" class="btn btn-mini checkbox-select-all">
        <%= t('txt.views.search_results.all') %>
      </button>
      <button type="button" class="btn btn-mini checkbox-select-none">
        <%= t('txt.views.search_results.none') %>
      </button>
    </div>
  <% end %>
<% end %>
