<div class="form-group result_type_filter row">
  <%= label_tag nil, t('txt.views.search_results.for'), :class => 'col-sm-2 col-form-label' %>
  <div class="col-sm-4">
    <div class="form-check">
      <%= radio_button_tag 'for', 'concept', params[:for] == "concept", class: 'form-check-input' %>
      <label for="for_concept" class="form-check-label">
        <%= Iqvoc::Concept.base_class.model_name.human(:count => 2) %>
      </label>
    </div>

    <div class="form-check">
      <%= radio_button_tag 'for', 'collection', params[:for] == "collection", class: 'form-check-input' %>
      <label for="for_collection" class="form-check-label">
        <%= Iqvoc::Collection.base_class.model_name.human(:count => 2) %>
      </label>
    </div>

    <div class="form-check">
      <%= radio_button_tag 'for', 'all', !%w(concept collection).include?(params[:for]), class: 'form-check-input' %>
      <label for="for_all" class="form-check-label">
        <%= t("txt.views.search_results.all") %>
      </label>
    </div>
  </div>
</div>
