<fieldset id="collection_label_data" class="note_relation">
  <legend><%= CollectionLabel.model_name.human(:count => 2) %></legend>
  <ol>
    <% collection.collection_labels.each do |collection_label| %>
      <li class="inline_note<%= " new" if collection_label.new_record? %>">
        <%= f.fields_for :collection_labels, collection_label do |collection_label_form| %>
          <%= collection_label_form.label :value, CollectionLabel.model_name.human %>
          <%= collection_label_form.text_area :value, :rows => 5, :cols => 40 %>

          <br>

          <%= collection_label_form.label :language, t("txt.common.language") %>
          <%= collection_label_form.select :language, options_for_language_select(collection_label.language) %>

          <% unless collection_label.new_record? %>
            <br>
            <%= collection_label_form.check_box :"_destroy" %>
            <%= collection_label_form.label :"_destroy", t("txt.common.delete") %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ol>
  <input type="button" value="<%= t("txt.common.add_note") %>" />
</fieldset>
