<div class="row">
  <div class="col-md-6">
    <%= render "search_results/sections/mode" %>
  </div>
  <div class="col-md-6">
    <%= render "search_results/sections/klass" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render "search_results/sections/type" %>
  </div>
  <div class="col-md-6">
    <%= render "search_results/sections/collection" %>
  </div>
</div>
<div class="row">
  <%= render "search_results/sections/change_note" %>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render "search_results/sections/datasets" %>
  </div>
  <div class="col-md-6">
    <%= render "search_results/sections/options" %>
  </div>
</div>