<%= render 'header' %>
<%= render 'sidebar', :results => @results %>

<%= render 'form' %>

<% if @results %>
<div class="panel">
  <%= results_header @results %>

  <dl id="search_results">
    <% @results.each do |result| %>
      <% if @klass %>
        <%= render :partial => @klass.search_result_partial_name,
                :locals => { :result => result } %>
      <% else %>
        <%= render :partial => result.class.search_result_partial_name,
                :locals => { :result => result } %>
      <% end %>
    <% end %>
  </dl>

  <%= paginate @results %>
<% end %>
</div>
