<%= render 'header' %>
<%= render 'sidebar', :results => @results %>

<%= render 'form' %>

<% if @results %>
<div class="panel">
  <%= results_header @results %>

  <ul class="search-results unstyled">
    <% @results.each do |result| %>
      <% if @klass %>
        <%= render @klass.search_result_partial_name, :result => result %>
      <% else %>
        <%= render result.search_result_partial_name, :result => result %>
      <% end %>
    <% end %>
  </ul>

  <%= paginate @results %>
</div>
<% end %>
