<%= render 'header' %>
<%= render 'sidebar', :results => @results %>

<%= render 'form' %>

<% if @results %>
<div class="panel">
  <%= results_header @results %>

  <dl id="search_results" vocab="<%= schema_url(:lang => nil) %>">
    <% @results.each do |result| %>
      <% if @klass %>
        <%= render @klass.search_result_partial_name, :result => result %>
      <% else %>
        <%= render result.class.search_result_partial_name, :result => result %>
      <% end %>
    <% end %>
  </dl>

  <%= paginate @results %>
<% end %>
</div>
