<%= render 'header' %>
<%= render 'sidebar', :results => @results %>

<%= render 'form' %>

<% if @results %>
<div class="panel">
  <%= results_header @results %>

  <ul class="search-results unstyled">
    <% @results.each do |result| %>
      <% if @klass %>
        <%= render @klass.search_result_partial_name, :result => result %>
      <% else %>
        <%= render result.class.search_result_partial_name, :result => result %>
      <% end %>
    <% end %>
  </ul>

  <%= paginate @results %>

  <% @remote_result_collections.each do |collection| %>
    <h2><%= t('txt.views.search_results.search_results_on', :url => collection.adaptor.name) %> <small>(<%= collection.size %>)</small></h2>
    <ul class="search-results unstyled">
      <% collection.each do |result| %>
        <%= render 'search_result', :result => result %>
      <% end %>
    </ul>
  <% end %>
<% end %>
</div>
