<%= render 'header' %>
<%= render 'sidebar', :results => @results %>

<%= render 'form' %>

<% if @results %>
<div class="panel">
  <%= results_header @results %>
    <%= render 'result_list' %>
  <%= paginate @results %>
</div>
<% end %>
