<% if association_objects_in_editing_mode && association_objects_in_editing_mode[:concept_relations].any? %>
  <%= alert(:info, :header => t('txt.common.referenced_concepts')) do %>
  <ul>
    <% association_objects_in_editing_mode[:concept_relations].each do |concept_relation| %>
      <li>
        <%= concept_relation.class.model_name.human %>
        <%= link_to(concept_relation.target.pref_label.to_s,
          concept_path(:published => 0, :id => concept_relation.target)) %>
        <%= t("txt.common.editor") %> <%= user_details(concept_relation.target.locking_user) %>
      </li>
    <% end %>
  </ul>
  <% end # alert %>
<% end # if %>
