<%= page_header :title => t("txt.views.instance_configuration.caption").titleize %>

<%= form_tag(instance_configuration_path, :method => :patch, :class => "form-horizontal") do %>
  <% @settings_by_namespace.each do |namespace, settings| %>
    <fieldset>
      <legend><%= t("txt.views.instance_configuration.groups.#{namespace}").titleize %></legend>
      <% settings.each do |key, value| %>
        <div class="form-group">
            <label class="control-label col-sm-4">
              <%= t("txt.views.instance_configuration.settings.#{key.gsub(".", "_")}") %>
            </label>
            <div class="col-sm-8">
              <%= text_field_tag "config[#{key}]", value, :class => 'form-control' %>
            </div>
        </div>
      <% end %>
    </fieldset>
  <% end %>
  <div class="form-group">
    <div class="col-sm-12">
      <div class="well">
        <%= submit_tag t("txt.common.save"), :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
