<h2><%= t("txt.views.instance_configuration.caption").titleize %></h2>

<%= form_tag(instance_configuration_path, :method => :put, :class => "form large-labels") do %>
  <fieldset>
    <ol>
      <% @settings.each do |key, value| %>
      <li>
        <label><%= key %></label>
        <%= text_field_tag "config[#{key}]", value %>
      </li>
      <% end %>
    </ol>
  </fieldset>
  <%= submit_tag t("txt.common.save") %>
<% end %>
