<h3><%= Label::Base.model_name.human %></h3>

<p class="flash_error label_warning" style="display:none;" data-msg="<%= I18n.t("txt.views.labels.label_already_exists") %>"></p>

<%= form_for @label, :as => 'label', :url => @label.new_record? ? labels_path(:lang => I18n.locale) : label_path(:lang => I18n.locale, :id => @label, :published => 0), :html => {:class => "form"} do |f| %>
  <fieldset id="label_base_data">
    <legend><%= t("txt.common.attributes") %></legend>
    <ol>
      <li>
        <label><%= t("txt.views.labels.template_form") %></label>
        <%= f.text_field :value %>
      </li>
      <li>
        <%= f.label :language %>
        <%= @label.language %>
        <%= f.hidden_field :language %>
      </li>
      
      <%- if Iqvoc::XLLabel.has_additional_base_data -%>
        <%= render :partial => 'partials/label/additional_base_data', :locals => { :f => f } %>
      <%- end -%>
      
      <li>
        <%= f.label :follow_up %>
        <%= f.text_field :follow_up, :class => "datepicker" %>
      </li>
      <li>
        <%= f.label :expired_at %>
        <%= f.text_field :expired_at, :class => "datepicker" %>
      </li>
    </ol>
  </fieldset>
  
  <fieldset>
    <legend>Relations</legend>
    <ol>
    <%- Iqvoc::XLLabel.relation_classes.each do |relation_class| -%>
        <%= render relation_class.edit_partial_name(@label), :label => @label, :klass => relation_class %>
    <%- end -%>
    </ol>
  </fieldset>
  
  <%- Iqvoc::XLLabel.additional_association_classes.keys.each do |association_class| -%>
      <fieldset>
        <legend><%= association_class.model_name.human(:count => 2) %></legend>
        <ol>
          <%= render association_class.edit_partial_name(@label), :label => @label, :klass => association_class, :f => f %>
        </ol>
      </fieldset>
  <%- end -%>

  
  <% unless @label.new_record? %>
    <% Iqvoc::XLLabel.note_classes.each do |note_class| %>
      <%= render note_class.edit_partial_name(@label), :owner_klass => @label, :assoc_klass => note_class, :f => f %>
    <% end %>
  <% end %>

  <%= f.submit t("txt.common.save") %>

  <% unless controller.action_name == "new" || controller.action_name == "create" %>
    <%= link_to t("txt.common.reset") %>
  <% end %>
<% end %>

<%= content_for :widget_translations do %>
  <%= render :partial => 'layouts/widget_translations' %>
<% end %>
