<h4><%= t("txt.views.labels.inflectionals") %></h4>
<div class="relation">
  <%= label.inflectionals.map(&:value).join(', ') %>
  <% if inflectionals_labels.present? %>
    <p><%= t("txt.views.labels.inflectionals_used_in") %></p>
    <ul>
      <% inflectionals_labels.each do |inf| %>
        <% if inf.published? %>
          <li><%= link_to inf.value, label_path(:lang => @active_language, :id => inf) %></li>
        <% else %>
          <li><%= link_to inf.value, versioned_label_path(:id => inf, :lang => @active_language) %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>