<div class="name-note">
  <div id="concept-left-box" style="float:left; width:70%;">
    <h3><%= t("txt.views.labels.template_form") %></h3>
    <div class="relation">
      <%= @label.value %>
    </div>

    <h3><%= t("txt.views.labels.language") %></h3>
    <div class="relation">
      <%= @label.language %>
    </div>

    <%- Iqvoc::Label.note_class_names.each do |note_class_name| -%>
      <h3><%= t("txt.views.labels.#{note_class_name.to_relation_name}") %></h3>
      <% @label.send(note_class_name.to_relation_name).each do |note| %>
        <div class="relation">
          <%= linkify(note) %>
        </div>
      <% end %>
    <%- end -%>

    <h3><%= t("txt.views.labels.part_of_speech") %></h3>
    <div class="relation">
      <%= part_of_speech @label.part_of_speech %>
    </div>

    <h3><%= t("txt.views.labels.base_form") %></h3>
    <div class="relation">
      <%= @label.base_form %>
    </div>

    <h3><%= t("txt.views.labels.inflectional_code") %></h3>
    <div class="relation">
      <%= @label.inflectional_code %>
    </div>

    <h3><%= t("txt.views.labels.expired_at") %></h3>
    <div class="relation">
      <%= l(@label.expired_at) if @label.expired_at %>
    </div>

    <h3><%= t("txt.views.labels.inflectionals") %></h3>
    <div class="relation">
      <%= @label.inflectionals.map(&:value).join(', ') %>
      <% unless @inflectionals_labels.blank? %>
        <p><%= t("txt.views.labels.inflectionals_used_in") %></p>
        <ul>
          <% @inflectionals_labels.each do |inf| %>
            <% if inf.published? %>
              <li><%= link_to inf.value, label_path(:lang => @active_language, :id => inf) %></li>
            <% else %>
              <li><%= link_to inf.value, versioned_label_path(:id => inf, :lang => @active_language) %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>

    <h3><%= t("txt.views.labels.homographs") %></h3>
    <div class="relation">
<%#=raw UMT::Homograph.published_without_initial_versions(@label.id).map {|h| link_to h.range.value, label_path(:lang => @active_language, :id => h.range) }.join(', ') %>
    </div>

    <h3><%= t("txt.views.labels.qualifiers") %></h3>
    <div class="relation">
<%#=raw UMT::Qualifier.published_without_initial_versions(@label.id).map {|h| link_to h.range.value, label_path(:lang => @active_language, :id => h.range) }.join(', ') %>
    </div>

    <h3><%= t("txt.views.labels.translations") %></h3>
    <div class="relation">
<%#=raw UMT::Translation.published_without_initial_versions(@label.id).map {|t| link_to t.range.value, label_path(:lang => @active_language, :id => t.range) }.join(', ') %>
    </div>

    <%- Iqvoc::Concept.labeling_classes.each do |labeling_class, languages| -%>
      <h3><%= t("txt.views.labels.#{labeling_class.name.to_relation_name}") %></h3>
      <div class="relation">
        <%= raw @label.concepts_for_labeling_class(labeling_class).map{ |c| link_to c.origin, concept_path(:lang => @active_language, :id => c), :alt => c.pref_label }.join(', ') %>
      </div>
    <%- end -%>

    <h3><%= t("txt.views.labels.compound_from") %></h3>
    <div class="relation">
      <% @label.compound_forms.each do |cf| %>
        <%=raw UMT::CompoundFormContent.published_without_initial_versions(cf.id).collect { |cfc|
          link_to(cfc.label.value, label_path(:lang => @active_language, :id => cfc.label))
        }.join(', ') %>
        <br />
      <% end %>
    </div>

    <h3><%= t("txt.views.labels.compound_in") %></h3>
    <div class="relation">
      <%=raw @compound_in.map {|label| link_to(label.value, label_path(:lang => @active_language, :id => label))}.join(', ') %>
    </div>
    <%#= render :partial => '_shared/umt_notes', :locals => {:object => @label} %>
  </div>