<p class="ajax_error flash_error" style="display: none;"></p>
<%= error_messages_for @label %>
<h2><%= t("txt.views.labels.edit.header") %> <strong><%=h @label.value %></strong></h2>

<% if @association_objects_in_editing_mode.present? %>

  <% if @association_objects_in_editing_mode[:label_relations].present? %>
    <h4><%= t("txt.common.referenced_labels") %></h4>
    <%  @association_objects_in_editing_mode[:label_relations].each do |label_relation| %>
      <%= label_relation.type.demodulize + ': ' + link_to(label_relation.range.value, label_path(:published => 0, :lang => @active_language, :id => label_relation.range)) + user_and_phone_number(t("txt.common.editor"), label_relation.range.locking_user.name, label_relation.range.locking_user.telephone_number) %><br />
    <% end %>
  <% end %>

<% end %>

<%= render :partial => "labels/base_data" %>

<%= content_for :sub_navigation do %>
  <ul>
    <li><%= back_link label_path(:published => 0, :lang => @active_language, :id => @label), t('txt.views.navigation.back_to_preview') %></li>
  </ul>
<% end %>
