<p class="ajax_error flash_error" style="display: none;"></p>
<%= error_messages_for @label %>
<h2><%= t("txt.views.labels.edit.header") %> <strong><%=h @label.value %></strong></h2>

<% if @association_objects_in_editing_mode.present? %>

  <% if @association_objects_in_editing_mode[:label_relations].present? %>
    <h4><%= t("txt.common.referenced_labels") %></h4>
    <%  @association_objects_in_editing_mode[:label_relations].each do |label_relation| %>
      <%= label_relation.type.demodulize + ': ' + link_to(label_relation.range.value, label_path(:published => 0, :lang => @active_language, :id => label_relation.range)) + user_and_phone_number(t("txt.common.editor"), label_relation.range.locking_user.name, label_relation.range.locking_user.telephone_number) %><br />
    <% end %>
  <% end %>

  <% if @association_objects_in_editing_mode[:compound_from_contents].present? %>
    <%  @association_objects_in_editing_mode[:compound_from_contents].each do |compound_from_content| %>
      <%= compound_from_content.temporary_name + ': ' + link_to(compound_from_content.label.value, label_path(:published => 0, :lang => @active_language, :id => compound_from_content.label)) + user_and_phone_number(t("txt.common.editor"), compound_from_content.label.locking_user.name, compound_from_content.label.locking_user.telephone_number) %><br />
    <% end %>
  <% end %>

<% end %>

<%= render :partial => "labels/base_data" %>

<%- Iqvoc::XLLabel.relation_classes.each do |relation_class| -%>
  <%= render relation_class.edit_partial_name(@label), :label => @label, :klass => relation_class %>
<%- end -%>

<div class="relation-body">
  <fieldset>
    <legend><%= t("txt.views.labels.pref_label_of") %></legend>
    <ul>
      <%= render :partial => "labels/labeling", :collection => @pref_labelings %>
    </ul>
  </fieldset>
</div>


<div class="relation-body">
  <fieldset>
    <legend><%= t("txt.views.labels.alt_label_of") %></legend>
    <ul>
      <%= render :partial => "labels/labeling", :collection => @alt_labelings %>
    </ul>
  </fieldset>
</div>

<%- Iqvoc::XLLabel.additional_association_classes.keys.each do |association_class| -%>
  <%- unless association_class.nested_editable? -%>
    <%= render association_class.edit_partial_name(@label), :label => @label, :klass => association_class %>
  <%- end -%>
<%- end -%>

<%= content_for :sub_navigation do %>
  <ul>
    <li><%= back_link label_path(:published => 0, :lang => @active_language, :id => @label), t('txt.views.navigation.back_to_preview') %></li>
  </ul>
<% end %>
