<fieldset class="note_relation" id="<%= assoc_klass.name.to_relation_name %>_data">
  <legend><%= assoc_klass.model_name.human(:count => 2) %></legend>
  <ol>
    <% change_notes = owner_klass.send(assoc_klass.name.to_relation_name).sort {|a,b| a.created_at <=> b.created_at } %>
    <% change_notes.each do |note| %>
      <li class="inline_note<%= " new" if note.new_record? %>">
        <%= f.fields_for assoc_klass.name.to_relation_name, note do |note_form| %>
          <%# if note == change_notes.last %>
            <%- css = note == change_notes.last ? '' : 'uneditable-input' -%>
            <%= note_form.form_group :value do %>
              <% if note == change_notes.last %>
                <%= note_form.text_area :value, :rows => 4 %>
              <% else %>
                <p><%= note.value %></p>
              <% end %>
            <% end %>
            <%= note_form.select :language,
              Iqvoc.note_languages.map { |l| [l, l]},
              :label => t("txt.common.language"),
              :include_blank => false %>

            <%= f.form_group :note_annotations, :label => {:text => Note::Annotated::Base.model_name.human(:count => 2)} do %>
              <dl class="note_annotations">
                <% note.annotations.each do |na| %>
                  <dt><%= na.identifier %></dt>
                  <dd><%= na.value %></dd>
                <% end %>
              </dl>
            <% end %>
          <%# else %>
          <%# end %>
        <% end %>
      </li>
    <% end %>
  </ol>
  <input type="button" value="<%= t("txt.common.add_note") %>" class="btn btn-default pull-right">
</fieldset>
