<%= simple_form_for user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :forename %>
  <%= f.input :surname %>
  <%= f.input :email %>
  <%= f.input :telephone_number %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :role, :collection => User::ROLES.map { |r| [r.humanize, r] } %>
  <%= f.input :active %>

  <div class="form-actions">
  <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
