<%= bootstrap_form_for user, :layout => :horizontal, :label_col => 'col-sm-3', :control_col => 'col-sm-9' do |f| %>
  <%= f.text_field :forename %>
  <%= f.text_field :surname %>
  <%= f.email_field :email %>
  <%= f.text_field :telephone_number %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <% if can?(:manage, User) %>
    <%= f.select :role, User::ROLES.map { |r| [r.humanize, r] } %>
    <%= f.text_area :comment, rows: 4 %>
    <%= f.form_group do %>
      <%= f.check_box :active, :label => User.human_attribute_name(:active) %>
    <% end %>
  <% end %>

  <hr />
  <div class="well">
    <%= submit_tag t('txt.common.save'), :class => 'btn btn-primary' %>
  </div>
<% end %>
