<h2><%= t('txt.views.users.index.header') %></h2>

<table class="management">
  <tr>
    <th><%= t('txt.views.users.name') %></th>
    <th><%= t('txt.views.users.email') %></th>
    <th><%= t('txt.views.users.telephone_number') %></th>
    <th><%= t('txt.views.users.role') %></th>
    <th><%= t('txt.views.users.active') %></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td><%=h user.telephone_number %></td>
    <td><%=h user.role.humanize %></td>
    <td><%=h user.active? ? 1 : 0 %></td>
    <td><%= link_to t('txt.views.users.edit_link'), edit_user_path(:id => user, :lang => @active_language) %></td>
    <td><%= link_to t('txt.views.users.destroy_link'), user_path(:id => user, :lang => @active_language), :confirm => t('txt.views.users.sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= content_for :sub_navigation do %>
  <ul>
    <li><%= link_to t('txt.views.users.new_link'), new_user_path(:lang => @active_language)%></li>
  </ul>
<% end %>
