<div class="relation">
  <%- if defined?(concept) -%>
    <h4><%= klass.model_name.human(:count => 2) %> (<%= lang %>)</h4>
    <div class="relation-body">
      <%= raw concept.labels_for_labeling_class_and_language(klass, lang.to_s).map { |label|
        link_to(label.value, label_path(:lang => @active_language, :id => label))
      }.join(', ') %>
    </div>
  <%- elsif defined?(label) -%>
    <h4><%= klass.model_name.human %> <%= t("txt.common.of") %></h4>
    <div class="relation">
      <%= raw label.concepts_for_labeling_class(klass).map { |c| 
        link_to(c.origin, concept_path(:lang => @active_language, :id => c)) 
      }.join(', ') %>
    </div>
  <%- end -%>
</div>