<fieldset id="label_umt_usage_note_data" class="note_relation">
  <legend><%= t("txt.common.umt_usage_note", :count => 2) %></legend>
  <ol>
    <% @concept.umt_usage_notes.each do |note| %>
    <li class="inline_note<%= " new" if note.new_record? %>">
      <% f.fields_for :umt_usage_notes, note do |note_form| %>
        <%= note_form.label :value, t("txt.common.umt_usage_note", :count => 1) %>
        <%= note_form.select :value, [""] + UMT::UsageNote::VALUES.map {|v| [t("txt.common.umt_usage_note.values.#{v}"), v] } %>
        
        <br>
        
        <%= note_form.label :language, t("txt.common.language") %>
        <%= note_form.select :language, options_for_language_select(note.language) %>
        
        <br>
        
        <%= note_form.check_box :"_destroy" %>
        <%= note_form.label :"_destroy", t("txt.common.delete") %>
      <% end %>
    </li>
    <% end %>
  </ol>
  <input type="button" value="<%= t("txt.common.add_note") %>">
</fieldset>