<%= page_header :title => t('txt.views.import.title') %>
<%= render 'dashboard/sidebar' %>

<%= bootstrap_form_for @import, :multipart => true, :layout => :horizontal, label_col: "col-sm-3", control_col: "col-sm-9" do |f| %>
  <%= f.file_field :import_file %>
  <%= f.text_field :default_namespace, :value => root_url(:format => nil, :lang => nil, :trailing_slash => true).gsub(/\/\/$/, "/") %>

  <%= f.form_group do %>
    <%= f.check_box :publish, :value => 1, :checked => true %>
  <% end %>
  <%= f.form_group do %>
    <%= f.submit t('txt.views.import.title'), :class => 'btn btn-primary' %>
  <% end %>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th><%= Import.human_attribute_name(:user) %></th>
    <th><%= Import.human_attribute_name(:created_at) %></th>
    <th><%= Import.human_attribute_name(:finished_at) %></th>
    <th><%= Import.human_attribute_name(:success) %></th>
  </tr>
  </thead>
  <tbody>
  <% @imports.each do |import| %>
    <tr>
      <td><%= link_to import.id, import_path(:id => import) %></td>
      <td><%= import.user %></td>
      <td><%= l(import.created_at, :format => :short) %></td>
      <td><%= import.finished_at? ? l(import.finished_at, :format => :short) : icon(:cog, 'fa-spin') %></td>
      <td><%= icon('thumbs-o-up') if import.success? %></td>
    </tr>
  <% end %>
  </tbody>
</table>
