<div class="relation-body">
  <fieldset>
    <legend><%= t("txt.partials.concept.relation.#{klass.name.to_relation_name}") %></legend>
    <input type="text" name="<%= klass.name.to_relation_name %>"
           class="label_relation"
           data-present-relations="[<%= klass.by_owner(concept.id).target_editor_selectable.map{|r| "{'name': '#{r.target.pref_label.value}', 'origin': '#{r.target.origin}', 'published': #{r.target.published?}}"}.join(',') %>]"
           data-post-url="<%= versioned_concept_relations_path(:lang => @active_language, :versioned_concept_id => concept.origin, :relation_class => klass.name) %>"
           data-delete-url="<%= versioned_concept_relation_path(:lang => @active_language, :id => "ORIGIN", :versioned_concept_id => concept.origin, :relation_class => klass.name) %>"
           data-get-url="<%= concepts_path %>"
           data-branch-url="<%= concept_versions_branch_path(:lang => @active_language, :origin => "ORIGIN") %>"
           data-show-url="<%= concept_path(:lang => @active_language, :id => "ORIGIN")%>"
           data-versioned-show-url="<%= versioned_concept_path(:lang => @active_language, :id => "ORIGIN") %>"
           data-auth-token="<%= form_authenticity_token %>"
           data-hint-text="<%= I18n.t("txt.views.widget.hint") %>"
           data-searching-text="<%= I18n.t("txt.views.widget.searching") %>"
           data-no-results-text="<%= I18n.t("txt.views.widget.no_results") %>"
           <% if klass.only_one_allowed? %>
             data-token-limit="1"
           <% end %>
           ></input>
  </fieldset>
</div>
