<%= page_header :title => 'Import' %>
<%= render 'dashboard/sidebar' %>

<%= form_tag import_url, :method => :post, :multipart => true , :class => "form-horizontal" do %>
  <%= input_block :label => 'NTriples File' do %>
    <%= file_field_tag 'ntriples_file' %>
  <% end %>

  <%= input_block :label => 'Default namespace' do %>
    <%= text_field_tag 'default_namespace',
      root_url(:format => nil, :lang => nil, :trailing_slash => true).gsub(/\/\/$/, "/")  %>
  <% end %>

  <div class="form-actions">
    <%= submit_tag 'Import', :class => 'btn btn-primary' %>
  </div>
<% end %>
