<%-
  hcpath = hierarchical_concepts_path(:lang => I18n.locale,
      :format => :json,
      :published => params[:published])
-%>
<ul class="hybrid-treeview" data-url="<%= hcpath %>">
  <%-
    concepts.each do |concept|
      has_children = concept.narrower_relations.any?
  -%>
    <li class="<%= has_children ? "hasChildren" : "" %>" id="<%= concept.id %>">
      <%= link_to(render_label(concept.pref_label),
              concept_url(:id => concept)) %>
      <%- if concept.additional_info.present? -%>
        (<%= concept.additional_info %>)
      <%- end -%>
      <%- if has_children -%>
        <ul>
          <li><span class="placeholder">&nbsp;</span></li>
        </ul>
      <%- end -%>
    </li>
  <%- end -%>
</ul>
