<% hcpath = hierarchical_concepts_path(:format => :json, :published => params[:published], :broader => broader || nil) unless hcpath %>
<% if dragabble %>
<ul class="hybrid-treeview" data-url="<%= hcpath %>"
  data-dragabble="true"
  data-save-label="<%= t('txt.common.save') %>"
  data-copy-label="<%= t('txt.common.copy') %>"
  data-undo-label="<%= t('txt.common.reset') %>">
<% else %>
  <ul class="hybrid-treeview" data-url="<%= hcpath %>">
<% end %>
  <% concepts.select { |c| can? :read, c }.each do |concept| %>
    <% has_children = broader ? concept.broader_relations.any? : concept.narrower_relations.any? %>

    <li class="<%= has_children ? "hasChildren" : "" %>" id="<%= concept.id %>">
      <%= link_to(concept.pref_label.to_s, concept_url(:id => concept)) %>
      <% if concept.additional_info.present? %>
        (<%= concept.additional_info %>)
      <% end %>
      <% if has_children %>
        <ul>
          <li><span class="placeholder">&nbsp;</span></li>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
