<%# concept details, categorized by langague %>

<div class="tabbable row"> <%# TODO: create generic partial? %>
  <ul class="nav nav-tabs">
  <% @view.languages.each_with_index do |lang, i| %>
    <%= content_tag('li', :class => ('active' if lang.active)) do %>
      <a href="#<%= lang.id %>" data-toggle="tab"><%= lang.caption %></a>
    <% end %>
  <% end %>
  </ul>

  <div class="tab-content col-md-12">
    <% @view.languages.each_with_index do |lang, i| %> <%# XXX: excessive logic; move into view model? %>
    <div class="tab-pane <%= 'active' if lang.active %>" id="<%= lang.id %>">
      <section class="labels">
        <% [[:pref_labels, 'pref-label', 'txt.common.pref_label'],
            [:alt_labels, 'alt-label', 'txt.common.alt_label']].
          each do |label_type, klass, caption| %>
        <% @view.send(label_type)[lang.id].try(:each) do |label| %>
          <span title="<%= t(caption) %>" class="<%= klass %>"><%= label %></span>
        <% end %>
      <% end %>
      </section>

      <section class="notes row">
        <% @view.notes[lang.id].each do |caption, notes| %>
          <% notes.each do |note, annotations| %>
          <div class="col-sm-6">
            <article class="panel">
              <h4><%= caption %></h4>

              <% if note %>
              <p><%= auto_link(note, :html => { :target => '_blank' }) %></p>
              <% end %>

              <% if annotations %>
              <dl class="note_annotations">
                <% annotations.each do |annotation| %>
                  <dt><%= annotation.identifier %></dt>
                  <dd><%= auto_link(annotation.value, :html => { :target => '_blank' }) %></dd>
                <% end %>
              </dl>
              <% end %>
            </article>
          </div>
          <% end %>
        <% end %>
      </section>
    </div> <!-- .tab-pane -->
    <% end %>
  </div> <!-- .tab-content -->
</div> <!-- .tabbable -->
