<%= simple_form_for concept, :as => :concept,
    :url => concept.new_record? ? concepts_path : concept_path(:published => 0, :id => concept),
    :html => { :class => 'form-horizontal' } do |f| %>

  <!-- Base data -->
  <fieldset>
    <legend><%= t('txt.common.attributes') %></legend>
    <%= f.input :follow_up, :as => :string, :input_html => { :class => 'datepicker' } %>
    <%= f.input :expired_at, :as => :string, :input_html => { :class => 'datepicker' } %>

    <%- Iqvoc::Concept.additional_association_classes.keys.each do |assoc_class| -%>
      <%= render assoc_class.edit_partial_name(concept),
        :concept => concept, :klass => assoc_class, :f => f %>
    <%- end -%>
  </fieldset>
  <!-- / Base data -->

  <!-- Labelings -->
  <fieldset>
    <legend><%= Labeling::Base.model_name.human(:count => 2) %></legend>
    <% if not Iqvoc.const_defined?(:SKOSXL) %>
      <p><%= t 'txt.common.hint_csv_input' %></p>
    <% end %>
    <%- Iqvoc::Concept.labeling_classes.each do |labeling_class, languages| -%>
      <%- languages.each do |language| -%>
        <%= render labeling_class.edit_partial_name(concept), :f => f,
          :concept => concept, :klass => labeling_class, :language => language %>
      <%- end -%>
    <%- end -%>
  </fieldset>
  <!-- / Labelings -->

  <!-- Notes -->
  <% Iqvoc::Concept.note_classes.each do |note_class| %>
    <%= render note_class.edit_partial_name(concept), :owner_klass => concept, :assoc_klass => note_class, :f => f %>
  <% end %>
  <!-- / Notes -->

  <!-- Concept relations -->
  <fieldset>
    <legend><%= Concept::Relation::Base.model_name.human(:count => 2) %></legend>
    <%- if Iqvoc::Concept.broader_relation_class.narrower_editable -%>
      <%= render Iqvoc::Concept.broader_relation_class.narrower_class.edit_partial_name(concept),
        :concept => concept, :klass => Iqvoc::Concept.broader_relation_class.narrower_class, :f => f %>
    <%- end -%>

    <%= f.input :top_term, :as => :boolean, :input_html =>
      { :class => ("exclusive" if Iqvoc::Concept.broader_relation_class.singular?) } %>

    <%= render Iqvoc::Concept.broader_relation_class.edit_partial_name(concept),
      :concept => concept, :klass => Iqvoc::Concept.broader_relation_class, :f => f %>

    <%- Iqvoc::Concept.further_relation_classes.each do |relation_class| -%>
      <%= render relation_class.edit_partial_name(concept),
        :concept => concept, :klass => relation_class, :f => f %>
    <%- end -%>
  </fieldset>
  <!-- / Concept relations -->

  <!-- Matches -->
  <fieldset>
    <legend><%= Match::Base.model_name.human(:count => 2) %></legend>
    <% Iqvoc::Concept.match_classes.each do |match_class| %>
      <%= render match_class.edit_partial_name(concept), :owner_klass => concept, :assoc_klass => match_class, :f => f %>
    <% end %>
  </fieldset>
  <!-- / Matches -->

  <!-- Notations -->
  <% Iqvoc::Concept.notation_classes.each do |notation_class| %>
    <%= render notation_class.edit_partial_name(concept), :owner_klass => concept, :assoc_klass => notation_class, :f => f %>
  <% end %>
  <!-- / Notations -->

  <div class="form-actions">
    <%= f.submit t("txt.common.save"), :class => "btn btn-primary" %>
  </div>

<% end %>
