<%- published_param = @concept.published? ? nil : 0 %>
<%= content_for :head do -%>
  <link href="<%= rdf_url(@concept.origin, :format => :ttl, :published => published_param, :lang => nil) %>" type="text/turtle" rel="alternate" title=""/>
  <link href="<%= rdf_url(@concept.origin, :format => :rdf, :published => published_param, :lang => nil) %>" type="application/rdf+xml" rel="alternate" title=""/>
  <%= javascript_include_tag "storage.js" %>
  <%= javascript_include_tag "multilang.js" %>
<% end -%>

<% content_for :controls do -%>
  <!-- TODO: move to separate partial -->
  <div class="lang-widget">
    <h3><%= t("txt.views.widget.hint") %></h3> <!-- XXX: placeholder -->
    <ul>
      <% Iqvoc::available_languages.each do |lang| %> <!-- XXX: is this authoritative? -->
      <li><input type="checkbox" value="<%= lang %>"> <%= lang %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>
  <%= Iqvoc::Concept.base_class.model_name.human %>:
  <%= link_to(@concept.origin, concept_path(:lang => @active_language, :id => @concept.origin)) %>
  <%- if !@concept.published? %>
    (<%= t('txt.common.unpublished_version') %>)
  <%- end -%>
</h2>
<div id="format_link_ttl">
  <%= rdf_url(@concept.origin, :format => nil, :published => published_param, :lang => nil) %>
  (<%= link_to "Turtle", rdf_url(@concept.origin, :format => :ttl, :published => published_param, :lang => nil) %>,
  <%= link_to "RDF/XML", rdf_url(@concept.origin, :format => :rdf, :published => published_param, :lang => nil) %>)
</div>
<h3><%= t("txt.common.pref_label") %>:
  <%- if @concept.pref_label.new_record? -%>
    -
  <%- elsif @concept.pref_label.is_a?(Label::SKOSXL::Base) -%>
    <%= link_to(@concept.pref_label, label_path(:lang => @active_language, :id => @concept.pref_label)) %>
  <%- else -%>
    <%= @concept.pref_label %>
  <%- end -%>
</h3>
<%- if @concept.expired_at -%>
  <h4><%= t('txt.views.concepts.expired_at', :date => l(@concept.expired_at, :format => :long)) %></h4>
<%- end -%>
