<!-- Modal -->
<div class="modal-dialog modal-lg concept-teaser-dialog" role="document">
  <div class="modal-content concept-teaser-content">
    <div class="modal-header concept-teaser-header">
      <h1 class="modal-title" id="concept-teaser-title"><%= @concept.pref_label %></h1>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only"><%= t('txt.views.concepts.teaser.close') %></span>
      </button>
    </div>
    <div class="modal-body concept-teaser-body">
      <% if @view.no_content? %>
      <div class="alert alert-warning" role="alert">
        <%= t('txt.views.concepts.teaser.no_content') %>
      </div>
      <% end %>
      <% if @view.definition %>
      <div>
        <h2><%= Note::SKOS::Definition.model_name.human %></h2>
        <p><%= @view.definition %></p>
      </div>
      <% end %>
      <% if @view.alt_labels.any? %>
      <div>
        <h2><%= Iqvoc::Concept.alt_labeling_class.model_name.human(count: 2) %></h2>
        <ul class="label-list">
          <% @view.alt_labels.each do |l| %><!--
          --><li class="label-list-item">
               <span class="label-list-item-value"><%= l.value %></span>
             </li><!--
          --><% end %>
        </ul>
      </div>
      <% end %>
      <% if @view.collections.any? %>
      <div>
        <h2><%= Iqvoc::Collection.base_class.model_name.human(count: 2) %></h2>
        <ul>
          <% @view.collections.each do |c| %>
            <li><%= link_to c.caption, c.uri %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <% if @view.related.any? %>
      <div>
        <h2><%= Iqvoc::Concept.further_relation_classes.first.try { |klass| klass.model_name.human(count: 2) } %></h2>
        <ul>
          <% @view.related.each do |c| %>
            <li><%= link_to c.caption, c.uri %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="modal-footer concept-teaser-footer">
      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      <a href="<%= concept_path(@concept) %>" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> <%= t('txt.views.concepts.to_concept') %></a>
    </div>
  </div>
</div>
<!-- / Modal -->
