<%= content_for :page_header do %>
<div class="row">
  <div class="span12">
    <%= render 'show_head' %>
  </div>
</div>
<% end %>

<% if @new_concept_version.blank? && can?(:branch, @concept) %>
<div class="row">
  <div class="span12">
    <div class="editing_versioning_toolbar well">
      <%= button_to t("txt.views.versioning.versioning_mode"),
        concept_versions_branch_path(:origin => @concept.origin), :class => "btn" %>
    </div>
  </div>
</div>
<% elsif can?(:read, @new_concept_version) %>
<div class="row">
  <div class="span12">
    <div class="editing_versioning_toolbar well">
      <%= link_to t("txt.views.versioning.preview_new_version"),
        concept_path(:published => 0, :id => @new_concept_version), :class => 'btn' %>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="span12">
<%= render 'layouts/sections', :sections => Iqvoc::Concept.view_sections, :data => concept_view_data(@concept) %>
</div>
</div>
