<fieldset>
  <ol>
    <li>
      <label for="concept">Concept</label>
      <input type="text" value="<%= @labeling.owner.origin if @labeling.owner %>" id="concept">
      <input type="hidden" name="labeling[owner_id]" value="<%= @labeling.owner.id %>" id="labeling_owner_id">
    </li>
    <li>
      <label for="label">Label</label>
      <input type="text" value="<%= @labeling.target.origin if @labeling.target.origin %>" id="label">
      <input type="hidden" name="labeling[target_id]" value="<%= @labeling.target.id %>" id="labeling_target_id">
    </li>
  </ol>
</fieldset>
<%= f.submit t("txt.views.labelings.edit.submit") %>
