<h1>Listing user_preferences</h1>

<table>
  <tr>
    <th>User</th>
    <th>Key</th>
    <th>Value</th>
  </tr>

<% for user_preference in @user_preferences %>
  <tr>
    <td><%=h user_preference.user_id %></td>
    <td><%=h user_preference.key %></td>
    <td><%=h user_preference.value %></td>
    <td><%= link_to 'Show', user_preference %></td>
    <td><%= link_to 'Edit', edit_user_preference_path(user_preference) %></td>
    <td><%= link_to 'Destroy', user_preference, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_preference', new_user_preference_path %>
