<h1>New user_preference</h1>

<%= error_messages_for :user_preference %>

<% form_for(@user_preference) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Key</b><br />
    <%= f.text_field :key %>
  </p>

  <p>
    <b>Value</b><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_preferences_path %>
