<h2><%= t("txt.common.concepts") %></h2>

<p><%= t("txt.views.concepts.select") %></p>

<div class="letter_selector">
<% for alpha in @alphas %>
  <%= link_to alpha, 
        alphabetical_concepts_path(:lang => @active_language, :letter => alpha.to_s.downcase), 
        :class => ((params[:letter] == alpha.to_s.downcase) ? "current" : nil) %>
<% end %>
</div>

<ul>
  <% for concept in @concepts %>
  <li>
    <%= link_to concept.pref_label, concept_path(:lang => @active_language, :id => concept), :alt => concept.origin %>
  </li>
  <% end %>
</ul>

<%= will_paginate @concepts, :previous_label => t("txt.common.pagination.previous"), :next_label => t("txt.common.pagination.next") %>