<div class="<%= !defined?(compound_form) ? "compound_form_widget_hidden" : "compound_form_widget"%>">
<div class="tokenizer_input_wrapper" style="float:left;">
<input type="text" name="<%= !defined?(compound_form) ? "compound_form_widget_hidden" : "compound_form_widget" %>"
       class="<%= !defined?(compound_form) ? "compound_form_hidden" : "compound_form"%>"
       data-present-relations="<%= !defined?(compound_form) ? "[]" : "[#{UMT::CompoundFormContent.published(compound_form.id).map{|cfc| "{'id': '#{cfc.id}', 'name': '#{cfc.label.value}', 'origin': '#{cfc.label.origin}', 'published': #{cfc.label.published?}}"}.join(',')}]" %>"
       data-compound-form-id="<%= !defined?(compound_form) ? "ID" : compound_form.id %>"
       data-post-url="<%= versioned_label_compound_form_compound_form_contents_path(:lang => @active_language, :versioned_label_id => @label.origin, :compound_form_id => !defined?(compound_form) ? "ID" : compound_form.id ) %>"
       data-get-url="<%= labels_path %>"
       data-branch-url="<%= label_versions_branch_path(:lang => @active_language, :origin => "ORIGIN") %>"
       data-show-url="<%= language_label_path(:lang => @active_language, :id => "ORIGIN")%>"
       data-versioned-show-url="<%= versioned_label_path(:lang => @active_language, :id => "ORIGIN") %>"
       data-auth-token="<%= form_authenticity_token %>"
       data-hint-text="<%= I18n.t("txt.views.widget.hint") %>"
       data-searching-text="<%= I18n.t("txt.views.widget.searching") %>"
       data-no-results-text="<%= I18n.t("txt.views.widget.no_results") %>"
       <% unless token_limit.blank? %>
       data-token-limit=<%= token_limit %>
       <% end %>
 >
</div>
<div class="tokenizer_delete_wrapper" style="float:left;">
  <% form_tag versioned_label_compound_form_path(:versioned_label_id => @label.id, :id => !defined?(compound_form) ? "ID" : compound_form.id), :method => "DELETE" do %>
      <%= image_submit_tag("tokenizer_delete.png", :class => "compound_form_delete", :title => t("txt.views.widget.delete_compound_form")) %>
   <% end %>
</div>
<div style="clear:both;"></div>
</div>
