<li class="concept-item">
  <p class="concept-item-term">
  <%= link_to pref_labeling.target.to_s, concept_path(:id => pref_labeling.owner), :alt => pref_labeling.owner.origin %>
  <% if pref_labeling.owner.additional_info.present? %>
  (<%= pref_labeling.owner.additional_info %>)
  <% end %>
  </p>

  <p class="concept-item-uri"><%= rdf_url(:id => pref_labeling.owner.origin, :lang => nil, :format => nil) %></p>
  <% if pref_labeling.owner.respond_to?(Note::SKOS::Definition.name.to_relation_name) &&
    pref_labeling.owner.send(Note::SKOS::Definition.name.to_relation_name).any? %>
    <% pref_labeling.owner.send(Note::SKOS::Definition.name.to_relation_name).each do |definition| %>
      <p class="concept-item-definition" lang="<%= definition.language %>">
        <%= definition.value %>
      </p>
    <% end %>
  <% end %>
</li>
