<%= page_header :title => Iqvoc::Concept.base_class.model_name.human(:count => 2),
  :desc => t('txt.views.navigation.alphabetical') %>
<%= render 'concepts/sidebars/plural' %>

<div class="panel">
  <div class="panel-header centered">
    <%= letter_selector do |letter| %>
      <% alphabetical_concepts_path(:prefix => letter.to_s.downcase) %>
    <% end %>
  </div>
  <ul class="concepts">
    <%= render :partial => 'pref_labeling', :collection => @pref_labelings %>
  </ul>
</div>

<%= paginate @pref_labelings %>
