<h2><%= Iqvoc::Concept.base_class.model_name.human(:count => 2) %></h2>

<% if I18n.locale != Iqvoc::Concept.pref_labeling_languages.first %>
  <%= link_to t("txt.views.untranslated_concepts.caption"),
    untranslated_concepts_path(:letter => params[:letter]),
    :id => "untranslated" %>
<% end %>

<p><%= t("txt.views.concepts.select", :concept_class_name => Iqvoc::Concept.base_class.model_name.human(:count => 1)) %></p>

<ul class="letter_selector ui-widget">
  <% for alpha in @alphas %>
    <%= content_tag("li", { :class => "ui-corner-all ui-widget-content" + ((params[:letter] == alpha.to_s.downcase) ? " ui-state-active" : "") }, true) do %>
      <%= link_to alpha, alphabetical_concepts_path(:letter => alpha.to_s.downcase) %>
    <% end %>
  <% end %>
</ul>

<ul>
  <%= render :partial => "pref_labeling", :collection => @pref_labelings %>
</ul>

<%= will_paginate @pref_labelings, :previous_label => t("txt.common.pagination.previous"), :next_label => t("txt.common.pagination.next") %>
