<h2><%= Iqvoc::Concept.base_class.model_name.human(:count => 2) %></h2>

<p><%= t("txt.views.concepts.select", :concept_class_name => Iqvoc::Concept.base_class.model_name.human(:count => 1)) %></p>

<ul class="letter_selector">
  <% for alpha in @alphas %>
  <%= tag("li", { :class => ((params[:letter] == alpha.to_s.downcase) ? "current" : nil) }, true) %>
    <%= link_to alpha,
      alphabetical_concepts_path(:lang => @active_language, :letter => alpha.to_s.downcase) %>
  </li>
  <% end %>
</ul>

<ul>
  <%= render :partial => "pref_labeling", :collection => @pref_labelings %>
</ul>

<%= will_paginate @pref_labelings, :previous_label => t("txt.common.pagination.previous"), :next_label => t("txt.common.pagination.next") %>
