<h2><%= Iqvoc::Concept.base_class.model_name.human(:count => 2) %></h2>

<% if I18n.locale != Iqvoc::Concept.pref_labeling_languages.first %>
  <%= link_to t("txt.views.untranslated_concepts.caption"),
    untranslated_concepts_path(:letter => params[:letter]),
    :id => "untranslated" %>
<% end %>

<p><%= t("txt.views.concepts.select", :concept_class_name => Iqvoc::Concept.base_class.model_name.human(:count => 1)) %></p>

<%= letter_selector { |letter| alphabetical_concepts_path(:letter => letter.to_s.downcase) } %>

<ul>
  <%= render :partial => "pref_labeling", :collection => @pref_labelings %>
</ul>

<%= paginate @pref_labelings %>
