<li class="search-result" data-rdf-namespace="<%= result.rdf_namespace %>" data-rdf-predicate="<%= result.rdf_predicate %>" data-rdf-value="<%= result.to_s %>" data-rdf-language="<%= result.language %>">
  <% if result.owner.is_a?(Concept::Base) %>
    <%= link_to result.owner.pref_label.to_s, concept_path(:id => result.owner), :class => 'search-result-link', :data => { 'resource-path' => rdf_path(result.owner.origin, :lang => nil, :format => nil) } %>
  <% elsif result.owner.is_a?(Label::Base) %>
    <%= link_to result.owner.value, label_path(:id => result.owner), :class => 'search-result-link', :data => { 'resource-path' => rdf_path(result.owner.origin, :lang => nil, :format => nil) } %>
  <% end %>
  <p class="search-result-body"><%= highlight_query(excerpt(result.value, params[:query]), params[:query]) %></p>
</li>
