<div class="<%= html_classes("relation", "panel", (class_name rescue nil)) %>">
  <%- if defined?(concept) -%>
    <% notes = concept.notes_for_class(klass) %>
    <h2><%= klass.model_name.human(:count => notes.count) %></h2>
    <div class="relation-body">
      <%= render :partial => 'partials/note/note', :collection => notes %>
    </div>
  <%-# SKOS-XL support -%>
  <%- elsif defined?(label) -%>
    <% notes = label.notes_for_class(klass) %>
    <h2><%= klass.model_name.human(:count => notes.count) %></h2>
    <div class="relation-body">
      <%= render :partial => 'partials/note/note', :collection => notes %>
    </div>
  <%- end -%>
</div>
