<fieldset class="note_relation" id="<%= assoc_klass.name.to_relation_name %>_data">
    <legend><%= assoc_klass.model_name.human(:count => 2) %></legend>
    <ol>
        <% owner_klass.send(assoc_klass.name.to_relation_name).select{|n| n.class == assoc_klass}.each do |note| %>
        <%= content_tag(:li, :class => "inline_note translation #{" new" if note.new_record?}", :lang => note.language || nil) do %>
        <%= f.fields_for assoc_klass.name.to_relation_name, note do |note_form| %>
        <div class="row">
            <div class="col-xs-10">
                <%= note_form.text_area :value, rows: 10 %>
            </div>
            <div class="col-xs-2">
                <%= note_form.select :language, Iqvoc.note_languages.map { |l| [l, l]}, :label => t("txt.common.language") %>

                <% if note.persisted? %>
                <%= note_form.number_field :position %>
                <% else %>
                <%= note_form.number_field :position, value: 1 %>
                <% end %>

                <% if note.persisted? %>
                <%= note_form.check_box :"_destroy", :label => t("txt.common.delete") %>
                <% end %>
            </div>
            <% end %>
        </div>
        <% end %>
        <% end %>
    </ol>
    <input type="button" value="<%= t("txt.common.add_note") %>" class="btn btn-default pull-right">
</fieldset>