<% unless note.new_record? %>
  <div class="translation" lang="<%= note.language %>">
    <span class="language_flap"><%= note.language %></span>
    <div class="note_content">
      <p><%= auto_link(note.value, :html => { :target => '_blank' }) %></p>
      <% if note.annotations.any? %>
        <dl class="note_annotations">
          <% note.annotations.each do |annotation| %>
            <dt><%= annotation.identifier %></dt>
            <dd><%= auto_link(annotation.value, :html => { :target => '_blank' }) %></dd>
          <% end %>
        </dl>
      <% end %>
    </div><!-- /.note_content -->
  </div><!-- /.translation -->
<% end %>
