<% unless note.new_record? %>
  <div class="translation" lang="<%= note.language %>">

	    <span><%= note.language %></span>
      <span><%= auto_link(note.value, :html => { :target => '_blank' }) %></span>
      <% if note.annotations.any? %>
        <dl class="note_annotations">
          <% note.annotations.each do |annotation| %>
            <dt><%= annotation.identifier %></dt>
            <dd><%= auto_link(annotation.value, :html => { :target => '_blank' }) %></dd>
          <% end %>
        </dl>
      <% end %>
  </div><!-- /.translation -->
<% end %>
