<% unless note.new_record? %>
  <%= content_tag("div", { :class => "translation", :lang => note.language || nil }, true) do %>
    <div class="note_language <%= note.language %>">
      (<%= note.language || '-' %>)
    </div>
    <span><%= auto_link(note.value, :html => { :target => '_blank' }) %></span>
    <dl class="note_annotations">
      <% note.annotations.each do |annotation| %>
        <dt><%= annotation.identifier %></dt>
        <dd><%= auto_link(annotation.value, :html => { :target => '_blank' }) %></dd>
      <% end %>
    </dl>
  <% end %>
<% end %>
