<li class="search-result" data-rdf-namespace="<%= iqvoc_default_rdf_namespaces[result.rdf_namespace.try(:to_sym)] %>" data-rdf-predicate="<%= result.rdf_predicate %>" data-rdf-value="<%= result.to_s %>" data-rdf-language="<%= result.language %>">
  <% if result.owner.is_a?(Concept::Base) %>
    <%= link_to "#{result.owner.pref_label.to_s} (#{result.owner.origin})", concept_path(:id => result.owner) %>
  <% elsif result.owner.is_a?(Label::Base) %>
    <%= link_to result.owner.value, label_path(:id => result.owner), :lang => result.language %>
  <% end %>
  <span class="badge badge-info"><%= result.model_name.human %></span>
</li>
