<%= sidebar do %>
  <%= sidebar_header t('txt.views.navigation.sections') %>
  <%= sidebar_item :text => t("txt.views.navigation.hierarchical"),
      :icon => 'list-alt',
      :path => hierarchical_concepts_path,
      :active => params[:controller] == 'concepts/hierarchical' && params[:published] != '0' %>
  <%= sidebar_item :text => t("txt.views.navigation.alphabetical"),
      :icon => 'list-alt',
      :path => alphabetical_concepts_path,
      :active => (params[:controller] == 'concepts/alphabetical') %>
  <% if can?(:update, Iqvoc::Concept.base_class) %>
    <%= sidebar_item :text => t("txt.views.navigation.draft"),
        :icon => 'list-alt',
        :path => hierarchical_concepts_path(published: 0),
        :active => (params[:controller] == 'concepts/hierarchical' && params[:published] == '0') %>
  <% end %>
  <%= sidebar_item :text => t("txt.views.navigation.expired"),
      :icon => 'list-alt',
      :path => expired_concepts_path,
      :active => params[:controller] == 'concepts/expired' %>
  <% if I18n.locale.to_s != Iqvoc::Concept.pref_labeling_languages.first %>
    <%= sidebar_item :icon => 'list-alt',
      :text => t("txt.views.untranslated_concepts.caption"),
      :path => untranslated_concepts_path(:prefix => params[:prefix] || 'a'),
      :active => params[:controller] == 'concepts/untranslated',
      :id => 'untranslated' %>
  <% end %>
<% end %>

<%= sidebar do %>
  <% if can?(:create, Iqvoc::Concept.base_class) %>
    <%= sidebar_header 'Links'%>
    <% (Iqvoc.first_level_classes - [Collection::SKOS::Unordered]).each do |klass| %>
      <%= sidebar_item { render(klass.new_link_partial_name) } %>
    <% end %>
  <% end %>
<% end %>

<%= sidebar do %>
  <% if @loose_concepts.try(:any?) %>
    <%= sidebar_header t('txt.views.navigation.loose_concepts') %>
    <div class="box">
      <%= treeview @loose_concepts %>
      <%= paginate @loose_concepts %>
    </div>
  <% end %>
<% end %>
