<%= simple_form_for user_session, :url => user_session_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= hidden_field_tag :back_to, params[:back_to].presence || @return_url %>
  <%= f.input :email %>
  <%= f.input :password %>
  <div class="form-actions">
    <%= submit_tag t("txt.views.user_sessions.login"), :class => 'btn btn-primary' %>
  </div>
<% end %>
