<h2><%= t("txt.views.user_sessions.header") %></h2>
 
<%= form_for @user_session, :url => user_session_path(:lang => I18n.locale, :back_to => params[:back_to]) do |f| %>
  <% if @user_session.errors.any? %>
  <p class="flash_error"><%= t("txt.views.user_sessions.error") %></p>
  <% end %>
  <%= f.label :email, t("txt.views.user_sessions.email") %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :password, t("txt.views.user_sessions.password") %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.submit t("txt.views.user_sessions.login") %>
<% end %>