<ul id="controls" class="menu">
  <li id="auth_controls">
    <% if current_user %>
      <%= link_to t("txt.views.layouts.application.logout"), user_session_path(:lang => I18n.locale), :method => :delete, :class => "button" %>
    <% else %>
      <%= link_to t("txt.views.layouts.application.login"), new_user_session_path(:lang => @active_language || I18n.locale), :class => "button" %>
      <ul class="hidden"><li><%= t("txt.common.pending") %></li></ul>
    <% end %>
  </li>

  <li>
    <a href="javascript:;" class="button lang-widget"><%= t("txt.views.lang_widget.caption") %> &#9660;</a>
    <ul class="lang-widget">
      <%-
        primary_languages = Iqvoc::Concept.pref_labeling_languages.find_all do |lang|
          lang != I18n.locale
        end
      -%>

      <% if primary_languages.length > 0 %>
        <li><h3><%= t("txt.views.lang_widget.primary") %></h3></li>
        <% primary_languages.each do |lang| %>
        <li><%= link_to t("languages.#{lang}"), params.merge(:lang => lang) %></li>
        <% end %>
      <% end %>

      <% if Iqvoc::available_languages.length > 1 %>
        <li><h3><%= t("txt.views.lang_widget.secondary") %></h3></li>
        <% Iqvoc::available_languages.each do |lang| %>
        <li><input type="checkbox" value="<%= lang %>"> <%= t("languages.#{lang}") %></li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>
