<ul class="nav navbar-nav navbar-right">
  <li class="divider-vertical"></li>
  <li id="language_selection" class="dropdown">
    <a href="javascript:;" class="dropdown-toggle">
      <%= t("txt.views.lang_widget.caption") %>
      <i class="fa fa-angle-down"></i>
    </a>

    <ul class="lang-widget dropdown-menu">
      <%- if Iqvoc::Concept.pref_labeling_languages.reject(&:nil?).any? -%>
        <li class="lang-widget-header"><h2><%= t("txt.views.lang_widget.primary") %></h2></li>
        <% Iqvoc::Concept.pref_labeling_languages.each do |lang| %>
          <li class="lang-widget-item">
          <%= link_to t("languages.#{lang.presence || "-"}", :default => lang.presence || "-"), params.merge(:lang => lang || "none"),
              :class => ("current" if lang == I18n.locale.to_s) %>
          </li>
    <% end %>
  <% end %>

  <% secondary_languages = Iqvoc.all_languages.reject { |lang| lang == I18n.locale.to_s } %>
  <% if secondary_languages.any? %>
    <li class="lang-widget-header"><h2><%= t("txt.views.lang_widget.secondary") %></h2></li>
    <% secondary_languages.each do |lang| %>
      <li class="lang-widget-item">
        <label>
          <input type="checkbox" value="<%= lang %>"> <%= t("languages.#{lang.presence || "-"}", :default => lang.presence || "-") %>
        </label>
      </li>
    <% end %>
  <% end %>
</ul>
</li>

<li>
  <% if current_user %>
    <%= link_to user_session_path, method: :delete, data: { confirm: t('txt.common.confirm_sign_out') } do %>
      <i class="fa fa-sign-out"></i> <%= current_user.name %>
    <% end %>
  <% else %>
    <%= link_to t("txt.views.layouts.application.login"), new_user_session_path(:back_to => @return_url) %>
  <% end %>
</li>
</ul>
