<ul id="controls" class="menu">
  <li id="auth_controls">
    <% if current_user %>
      <%= link_to t("txt.views.layouts.application.logout"), user_session_path(:lang => I18n.locale), :method => :delete, :class => "button" %>
    <% else %>
      <%= link_to t("txt.views.layouts.application.login"), new_user_session_path(:lang => I18n.locale, :back_to => request.fullpath), :class => "button" %>
      <ul class="hidden"><li><%= t("txt.common.pending") %></li></ul>
    <% end %>
  </li>

  <li>
    <a href="javascript:;" class="button lang-widget"><%= t("txt.views.lang_widget.caption") %> &#9660;</a>
    <ul class="lang-widget">
      <li><h3><%= t("txt.views.lang_widget.primary") %></h3></li>

      <% Iqvoc::Concept.pref_labeling_languages.each do |lang| %>
      <li>
        <%= link_to t("languages.#{lang}"), params.merge(:lang => lang),
                :class => lang == I18n.locale ? "current" : nil %>
      </li>
      <% end %>

      <% if Iqvoc::available_languages.length > 1 %>
        <li><h3><%= t("txt.views.lang_widget.secondary") %></h3></li>
        <% Iqvoc::available_languages.each do |lang| %>
        <li>
          <label>
            <input type="checkbox" value="<%= lang %>"> <%= t("languages.#{lang}") %>
          </label>
        </li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>
