<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to Iqvoc.config['title'], root_path, :class => 'brand' %></a>

      <div class="nav-collapse">
        <ul class="nav">
          <%= nav_items Iqvoc.navigation_items %>
        </ul>

        <%= render 'layouts/controls' %>

        <%= form_tag alphabetical_concepts_path(:prefix => nil), :method => :get,
                :class => "navbar-search pull-right" do %>
          <input type="text" name="prefix" class="search-query span2"
              placeholder="<%= t('txt.views.navigation.quick_search') %>">
        <% end %>
      </div>

    </div>
  </div>
</div>
