<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to Iqvoc.config["title"], root_path, :class => "brand" %>

      <div class="nav-collapse">
        <%= semantic_navigation :primary, :config => :bootstrap %>

        <%= render "layouts/controls" %>

        <% unless @suppress_quicksearch %>
<!--         <%= form_tag alphabetical_concepts_path(:prefix => nil), :method => :get,
                :class => "navbar-search pull-right" do %>
          <%= search_field_tag "prefix", nil, :id => nil,
                  :class => "quicksearch search-query span2",
                  :autofocus => (autofocus rescue nil),
                  :placeholder => t("txt.views.navigation.quick_search") %>
          <% end %> -->
        <% end %>
      </div>

    </div>
  </div>
</div>
