<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"><%= Iqvoc.title %></a>
      <div class="nav-collapse">
        <ul class="nav">
          <% if can?(:use, :dashboard) %>
           <li class="<%= params[:controller] == 'dashboard' ? 'active' : '' %>">
             <%= link_to 'Dashboard', dashboard_path %>
           </li>
           <% end %>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Concepts <b class="caret"></b></a>
             <ul class="dropdown-menu">
               <li class="<%= params[:controller] == 'concepts/hierarchical' ? 'active' : '' %>">
                 <%= link_to t("txt.views.navigation.hierarchical"), hierarchical_concepts_path %>
               </li>
               <li class="<%= params[:controller] == 'concepts/alphabetical' ? 'active' : '' %>">
                 <%= link_to t("txt.views.navigation.alphabetical"), alphabetical_concepts_path(:letter => 'a') %>
               </li>
             </ul>
           </li>
           <li class="<%= params[:controller] == 'collections' ? 'active' : '' %>">
             <%= link_to t("txt.views.navigation.collections"), collections_path %>
           </li>
           <li class="<%= params[:controller] == 'search_results' ? 'active' : '' %>">
             <%= link_to t("txt.views.navigation.search"), search_path %>
           </li>
           <% if can?(:manage, User) %>
             <li class="<%= params[:controller] == 'users' ? 'active' : '' %>">
               <%= link_to t("txt.views.navigation.users"), users_path %>
             </li>
           <% end %>
           <% if can?(:manage, Iqvoc.config) %>
           <li class="<%= params[:controller] == 'instance_configuration' ? 'active' : '' %>">
             <%= link_to t("txt.views.navigation.instance_configuration"), instance_configuration_path %>
           </li>
           <% end %>
           <li>
             <%= link_to t("txt.views.navigation.about"), "http://innoq.github.com/iqvoc", :target => "_blank" %>
           </li>
        </ul>
        <%= form_tag search_path, :method => :get, :class => "navbar-search pull-left" do %>
          <input type="hidden" name="t" value="labeling-skos-base">
          <input type="hidden" name="qt" value="exact">
          <input type="hidden" name="for" value="all">
          <input type="text" name="q" class="search-query span2" placeholder="Quick label search">
        <% end %>
        <!-- <ul class="nav pull-right">
          <li class="<%= params[:controller] == 'user_session' ? 'active' : '' %>">
            <%= login_logout %>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language selection <b class="caret"></b></a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
