<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
<meta name="i18n-locale" content="<%= I18n.locale %>">
<meta charset="utf-8">
<%= csrf_meta_tag %>

<title><%= Iqvoc.title || t("txt.common.iqvoc_title") %></title>
<!-- HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <%= javascript_include_tag "html5" %>
<![endif]-->
<%= stylesheet_link_tag "manifest" %>
<!--[if lte IE 8]>
<%= stylesheet_link_tag "iqvoc/ie_fixes" %>
<![endif]-->

<%= yield :head %>
</head>
<body>
<%= render :partial => "layouts/navigation" %>

<%#= render :partial => 'layouts/controls' %>

<div class="container">
  <%= yield :page_header %>
  <% flash.each do |type, msg| %>
    <%= alert(type) { msg } %>
  <% end %>
  <%= yield %>
</div>
<script>
  // load JSON polyfill only if necessary
  if(typeof JSON === "undefined") {
    document.write('<%= javascript_include_tag("json2").sub("</", "<\\/").html_safe %>');
  }
</script>
<%= javascript_include_tag "manifest" %>
<%= yield :scripts %>
</body>
</html>
