<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
<meta charset="utf-8">
<%= csrf_meta_tag %>
<title><%= page_title %></title>
<!-- HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <%= javascript_include_tag "html5" %>
<![endif]-->
<%= stylesheet_link_tag "manifest" %>
<!--[if lte IE 8]>
<%= stylesheet_link_tag "iqvoc/ie_fixes" %>
<![endif]-->
<%= yield :head %>
</head>

<% if @datasets %> <%# XXX: special-casing matches federation %>
<body data-datasets="<%= @datasets %>"
    data-remote-label-path="<%= remote_label_path(:lang => nil, :format => :json) %>">
<% else %>
<body>
<% end %>
<%= render 'layouts/navigation' %>

<div class="container">
  <div class="row">
    <div class="<%= content_for?(:sidebar) ? "col-md-9" : "col-md-12" %>" id="content">
      <%= yield :page_header %>
      <% flash.each do |type, messages| %>
        <% Array.wrap(messages).each do |msg| %>
          <%= alert(type) { msg } %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <% if content_for?(:sidebar) %>
    <div class="col-md-3" id="sidebar">
      <%= yield :sidebar %>
    </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "manifest" %>
<%= yield :scripts %>
</body>
</html>
